/* Editorial */

h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

a {
    text-decoration: none;
}

ol li {
    counter-increment: step-counter;
}

ol li::before {
    content: counter(step-increment);
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}

li {
    display: inline;
}