/* Layout.css */

header,
footer {
    color: #c3c1c1;
    background-color: #282828;
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    box-sizing: border-box;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
header img {
    width: 250px;
    display: block;
}
.layout_a {
    color: #c3c1c1;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

img {
    width: 100%;
}

.float {
    display: inline;
    max-width: 15%;

}